.app-download__information {
  background-color: $dark;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 271px;
  padding-bottom: 4px;
  //box-shadow: inset 0 0 0 4px rgb(34, 252, 5);
}

.app-download__button {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  border: solid 3px #ffffff;
  border-radius: 30px;
  padding-left: 40px;
  padding-right: 38px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 33px;
}

.app-download__button:hover {
  color: $pink;
  background: #ffffff;
}

.app-download__button:active {
  color: rgba(210, 40, 86, 0.3);
  background: #ffffff;
}

.app-download__os {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 0;
  padding-left: 37px;
  padding-right: 37px;
  //box-shadow: inset 0 0 0 4px rgb(21, 5, 252);
}

.app-download__description {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 5px;
  padding-left: 40px;
  padding-right: 40px;
  //box-shadow: inset 0 0 0 4px rgb(97, 4, 77);
}

.app-download__button-wrapper {
  display: flex;
  justify-content: center;
  //box-shadow: inset 0 0 0 4px rgb(97, 4, 77);
}

@media (min-width: $tablet-width) {
  .app-download {
    width: 50%;
    background-color: transparent;
  }

  .app-download__information {
    background-color: transparent;
  }

  .app-download__description {
    font-size: 18px;
    line-height: 1.33;
    margin-top: 23px;
    padding-left: 19px;
    padding-right: 15px;
  }

  .app-download__button {
    margin-top: -5px;
    margin-left: 4px;
    padding-right: 47px;
    padding-left: 45px;
    // padding-top: 2px;
    // padding-bottom: 2px;
  }

  .app-download__os {
    margin-top: 49px;
    margin-bottom: 0;
    padding-left: 45px;
    padding-right: 37px;
    //box-shadow: inset 0 0 0 4px rgb(21, 5, 252);
  }
}

@media (min-width: $desktop-width) {
  .app-download__description {
    font-size: 18px;
    line-height: 1.33;
    padding-right: 63px;
    padding-left: 47px;
    margin-top: 46px;
    //box-shadow: inset 0 0 0 4px rgb(21, 5, 252);
  }

  .app-download {
    width: 30%;
    margin-left: 50px;
    //box-shadow: inset 0 0 0 4px rgb(21, 5, 252);
  }

  .app-download__os {
    align-items: baseline;
    margin-top: 62px;
    margin-bottom: 0;
    padding-left: 105px;
    padding-right: 125px;
    //box-shadow: inset 0 0 0 4px rgb(21, 5, 252);
  }

  .app-download__button {
    font-size: 21px;
    // margin-top: -5px;
    //margin-left: -10px;
    padding-right: 27px;
    padding-left: 27px;
    padding-top: 3px;
    //box-shadow: inset 0 0 0 4px rgb(21, 5, 252);
  }

  .app-download__button-wrapper {
    padding-left: 75px;
    display: flex;
    justify-content: flex-start;
    //box-shadow: inset 0 0 0 4px rgb(97, 4, 77);
  }
}
