.contacts__introduction {
  font-size: 24px;
  font-weight: 300;
  color: #283645;
  line-height: normal;
  text-align: center;
  padding-right: 45px;
  padding-left: 45px;
}

.contacts__text {
  font-size: 18px;
  font-weight: 700;
  color: #283645;
  line-height: normal;
  text-align: center;
  padding-bottom: 10px;
  margin: 0;
}

.contacts__email {
  text-decoration: none;
  color: #d22856;
}

.contacts__email:hover {
  color: #283645;
  border-bottom: 2px solid;
}

.contacts__email:active {
  color: rgba(40, 54, 69, 0.3);
  border-bottom: none;
}

.contacts__value {
  font-size: 24px;
  font-weight: 300;
  color: #d22856;
  line-height: normal;
  text-align: center;
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
  margin: 0;
  z-index: 2;
}

.contacts__google-map {
  border: none;
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  width: 100%;
  z-index: 1;
}

.contacts__map-picture {
  margin: 0;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.contacts {
  position: relative;
  background-color: #ffffff;
  //box-shadow: inset 0 0 0 10px rgb(231, 9, 9);
}

.contacts::before {
  content: "";
  position: absolute;
  bottom: 485px;
  background-image: url("../img/bg-triangle-white-footer.svg");
  background-size: 1200px 123px;
  background-position: center;
  z-index: 3;
  width: 100%;
  height: 123px;
}

@media (min-width: $tablet-width) {
  .contacts__introduction {
    font-size: 40px;
    padding-left: 130px;
    padding-right: 130px;
  }

  .contacts__google-map {
    width: 660px;
    height: 848px;
  }

  .contacts__map-picture {
    width: 660px;
    height: 848px;
  }

  .contacts::before {
    bottom: 740px;
  }

  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contacts__item {
    padding-left: 21px;
    padding-right: 21px;
    //box-shadow: inset 0 0 0 10px rgb(231, 9, 9);
  }
}

@media (min-width: $desktop-width) {
  .contacts__google-map {
    width: 1200px;
    height: 976px;
  }

  .contacts__map-picture {
    width: 1200px;
    height: 976px;
  }

  .contacts::before {
    bottom: 865px;
    background-size: 1440px 123px;
  }

  .contacts__introduction {
    font-size: 50px;
    padding-left: 350px;
    padding-right: 350px;
  }

  .contacts__item {
    padding-left: 0;
    padding-right: 0;
  }

  .contacts__item-email {
    order: 1;
  }
}
