.effect {
  display: none;
}

@media (min-width: $tablet-width) {
  .effect {
    display: flex;
    padding-top: 42px;
    padding-bottom: 67px;
    margin: 0;
  }

  .effect__text {
    order: 1;
    width: 50%;
    padding-top: 10px;
    margin-left: -8px;
    //box-shadow: inset 0 0 0 6px rgb(252, 5, 17);
  }

  .effect-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
    color: #000000;
    //padding-right: 163px;
    //padding-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
    //box-shadow: inset 0 0 0 6px rgb(252, 5, 17);
  }

  .effect__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.73;
    text-align: left;
    color: $dark;
    padding-right: 10px;
    padding-bottom: 4px;
    margin-top: 0;
    margin-bottom: 0;
    //box-shadow: inset 0 0 0 6px rgb(252, 5, 17);
  }

  .effect__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    text-align: left;
    color: $pink;
    text-decoration: underline;
  }

  .effect__img {
    width: 50%;
    padding-left: 20px;
    //margin-top: -15px;//
    fill: #dedede;
    //box-shadow: inset 0 0 0 6px rgb(252, 5, 17);
  }

  .effect__img-text {
    width: 106px;
    height: 70px;
    font-size: 120px;
    font-weight: 700;
    line-height: 1.56;
    fill: $pink;
  }
}

@media (min-width: $desktop-width) {
  .effect {
    display: flex;
    justify-content: flex-start;
    margin-top: 0;
    padding-top: 56px;
    padding-bottom: 56px;
    background-color: #f2f2f2;
  }

  .effect__text {
    order: 1;
    width: 100%;
    padding-top: 68px;
    padding-bottom: 20px;
    padding-right: 149px;
    padding-left: 70px;
    margin-left: 0;
    //flex-grow: 1;
    //box-shadow: inset 0 0 0 6px rgb(252, 5, 17);
  }

  .effect-title {
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    padding-bottom: 20px;
  }

  .effect__description {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.67;
    text-align: left;
    color: $dark;
    padding-bottom: 30px;
  }

  .effect__link {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.67;
    text-align: left;
    color: $pink;
  }

  .effect__image {
    width: 298px;
    height: 345px;
  }

  .effect__img {
    padding-left: 130px;
    padding-right: 0;
    //box-shadow: inset 0 0 0 6px rgb(252, 5, 17);
  }

  .effect__img-text {
    width: 131px;
    height: 87px;
    font-size: 120px;
  }

  .effect__break {
    display: none;
  }
}
