.page-header {
  background-color: #283645;
  color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.page-header__logo-wrapper {
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .page-header__logo-wrapper {
    padding-top: 27px;
    padding-bottom: 29px;
    padding-left: 20px;
  }

  .page-header__logo-image {
    width: 147px;
    height: 40px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-around;
  }

  .main-nav__toggle {
    display: none;
  }

  .page-header__logo-wrapper {
    padding-right: 0;
    padding-top: 27px;
    padding-bottom: 43px;
    padding-left: 130px;
  }
}
