.page-footer__wrapper {
  background-color: #ffffff;
  width: 100%;
}

.page-footer {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 284px;
  justify-content: space-around;
  margin-top: 0;
}

.page-footer__index {
  display: none;
}

.page-footer__logo {
  padding-top: 15px;
}

.page-footer__logo-image {
  fill: #283645;
}

.page-footer__logo-image:hover {
  fill: $pink;
}

.page-footer__logo-image:active {
  fill: #283645;
  opacity: 0.3;
}


.page-footer__logo-image--desktop {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer__index {
    display: block;
  }

  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    height: 127px;
    //width: 100%;
    //box-shadow: inset 0 0 0 6px rgb(252, 5, 17);
  }

  .page-footer__index-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 127px;
    //width: 100%;
    //box-shadow: inset 0 0 0 6px rgb(252, 5, 17);
  }

  .page-footer__logo {
    padding-left: 20px;
    padding-top: 0;
    //box-shadow: inset 0 0 0 6px rgb(252, 5, 17);
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    height: 185px;
    padding-top: 0;
  }

  .page-footer__index-wrapper {
    height: 185px;
    padding-top: 0;
  }

  .page-footer__logo-image--desktop {
    display: inline-block;
  }

  .page-footer__logo-image--mobile {
    display: none;
  }
}
