.page-header {
  //background-color: rgb(179, 179, 179);
  //opacity: 0.3;
  background: rgba(0, 0, 0, 0.3);
  //filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4cffffff', endColorstr='#4cffffff'); /* IE */
  color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
  z-index: 2;
  position: relative;
}

.page-header--opened {
  background-color: $dark;
}

.page-header__logo-wrapper {
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
}

.page-header__logo-image {
  fill: #ffffff;
}

.page-header__logo-image--active:hover {
  fill: $pink;
}

.page-header__logo-image--active:active {
  fill: #ffffff;
  opacity: 0.3;
}


.page-header__logo-image--tablet,
.page-header__logo-image--desktop {
  display: none;
}

// .pink-2,
// .pink-1,
// .pink-3
// .pink-4

//  {
//   display: none;
// }

@media (min-width: $tablet-width) {
  .page-header__logo-wrapper {
    padding-top: 27px;
    padding-bottom: 29px;
    padding-left: 20px;
  }

  .page-header__logo-image--tablet {
    display: inline-block;
  }

  .page-header__logo-image--mobile,
  .page-header__logo-image--desktop {
    display: none;
  }

  // .page-header__logo-mobile {
  //   display: none;
  // }

  // .page-header__logo-tablet {
  //   display: inline-block;
  // }

  // .page-header__logo-image {
  //   width: 147px;
  //   height: 40px;
  // }
}

@media (min-width: $desktop-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.3);
    //box-shadow: inset 0 0 0 6px rgb(252, 5, 17);
  }

  .page-header__logo-wrapper {
    padding-right: 0;
    padding-top: 27px;
    padding-bottom: 33px;
    padding-left: 18px;
  }

  .page-header__logo-image--desktop {
    display: inline-block;
  }

  .page-header__logo-image--tablet {
    display: none;
  }
}
