.photo-download__description {
  font-size: 14px;
  line-height: 2.14;
  text-align: center;
  color: $dark;
  padding-left: 32px;
  padding-right: 35px;
  //padding-top: 0px;
  padding-bottom: 48px;
  margin: 0;
}

.photo-download__wrapper {
  background-color: #f2f2f2;
  padding-bottom: 12px;
}

.photo-download__image {
  display: block;
  margin: 0 auto;
  padding-top: 20px;
}

.photo-download__button {
  //display: block;
  font-size: 18px;
  font-weight: 700;
  border: solid 3px;
  border-radius: 40px;
  width: 280px;
  padding-top: 19px;
  padding-bottom: 20px;
  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 12px;
  //box-shadow: inset 0 0 0 4px rgb(34, 252, 5);
}

.photo-download__button--upload {
  display: block;
  color: $pink;
  border-color: $pink;
  outline: none;
  margin-top: 70px;
}

.photo-download__button--cancel {
  display: block;
  color: rgba(40, 54, 69, 0.1);
  border-color: solid 3px rgba(40, 54, 69, 0.1);
  outline: none;
}

.photo-download__button--upload:hover {
  background: $pink;
  color: #ffffff;
}

.photo-download__button--upload:active {
  color: rgba(255, 255, 255, 0.3);
  background: $pink;
}

.photo-download__button--cancel:hover {
  border: solid 3px rgba(40, 54, 69, 0.3);
  color: rgba(40, 54, 69, 0.3);
}

.photo-download__button--cancel:active {
  color: rgba(255, 255, 255, 0.3);
  background: rgba(40, 54, 69, 0.3);
  border: solid 3px rgba(40, 54, 69, 0.3);
}

.photo-download__icon {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #f2f2f2;
}

.photo-download__icon--crop--active {
  fill: $pink;
  margin-bottom: 40px;
}

.photo-download__icon--fill {
  fill: rgba(40, 54, 69, 0.3);
}

.photo-download__icon--fill:hover {
  fill: rgba(40, 54, 69, 0.5);
}

.photo-download__icon--contrast path {
  fill: rgba(40, 54, 69, 0.3);
}

.photo-download__icon--contrast path:hover {
  fill: rgba(40, 54, 69, 0.5);
}

.photo-download__icon-wpapper {
  display: flex;
  margin: 0 auto;
  padding-left: 56px;
  padding-right: 64px;
  padding-top: 42px;
  justify-content: space-around;
  //box-shadow: inset 0 0 0 4px rgb(34, 252, 5);
}

.photo-download__range-controls--active {
  position: relative;
  height: 2px;
  width: 240px;
  margin-bottom: 0;
  box-shadow: inset 0 0 0 6px rgb(34, 252, 5);
}

.photo-download__scale--active {
  position: relative;
  width: 100%;
  height: 100%;
  background: $dark;
}

.photo-download__range-toggle--active {
  position: absolute;
  top: -8px;
  left: 80%;
  width: 12px;
  height: 12px;
  background: #f2f2f2;
  border: 2px solid $pink;
  border-radius: 50%;
  cursor: pointer;
  //box-shadow: inset 0 0 0 4px rgb(34, 252, 5);
}

.photo-download__range-toggle--active:active {
  background: $pink;
}

.photo-download__settings-item {
  display: flex;
  flex-direction: column;
}

@media (min-width: $tablet-width) {
  .photo-download__description {
    font-size: 18px;
    line-height: 1.67;
  }

  .photo-download__wrapper {
    display: flex;
    width: 660px;
    margin: 0 auto;
  }

  .photo-download__icon-wpapper {
    flex-direction: column;
  }

  .photo-download__settings-item {
    flex-direction: row;
  }

  .photo-download__range-controls {
    position: relative;
    height: 2px;
    width: 240px;
    margin-bottom: 0;
    //box-shadow: inset 0 0 0 6px rgb(34, 252, 5);
  }

  .photo-download__scale {
    position: relative;
    width: 100%;
    height: 100%;
    background: $dark;
  }

  .photo-download__range-toggle {
    position: absolute;
    top: -8px;
    left: 80%;
    width: 12px;
    height: 12px;
    background: #f2f2f2;
    border: 2px solid $pink;
    border-radius: 50%;
    cursor: pointer;
    //box-shadow: inset 0 0 0 4px rgb(34, 252, 5);
  }

  .photo-download__range-toggle--active:active {
    background: $pink;
  }

  .photo-download__icon {
    fill: $pink;
    margin-bottom: 40px;
  }

  .photo-download__icon--contrast--active path {
    fill: $pink;
  }
}

@media (min-width: $desktop-width) {
  .photo-download__wrapper {
    width: 940px;
  }
}
