.social__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  min-width: 172px;
  //box-shadow: inset 0 0 0 4px rgb(21, 5, 252);
}

.social__link {
  fill: #d22856;
  position: relative;
  //border: solid 3px #fefefe;
  //rgb(40, 54, 69, 0.1);
}

.social__link::after {
  content: "";
  position: absolute;
  top: -17px;
  left: -19px;
  border-radius: 50%;
  border: solid 3px #fefefe;
  width: 45px;
  height: 45px;
}

.social__link:hover::after {
  border: solid 3px #283645;
}

.social__link:active::after {
  border: solid 3px #fefefe;
}

.social__link:active path {
  fill: rgba(210, 40, 86, 0.3);
}

@media (min-width: $tablet-width) {
  .social__list {
    justify-content: space-between;
    min-width: 172px;
  }
}
