.users-photos {
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: -236px;
  //margin-top: -15px;
  //margin-bottom: -15px;
}

.users-photos__intro {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  line-height: 2.18;
  color: $dark;
  //margin-top: -230px;//
  padding-top: 45px;
  padding-bottom: 35px;
  padding-left: 34px;
  padding-right: 34px;
}

.users-photos__item-picture {
  margin: 0;
  padding-left: 0;
  padding-right: 0;
  //box-shadow: inset 0 0 0 4px rgb(252, 5, 219);
}

.users-photos__info-panorama-wrapper {
  margin: 0;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 18px;
  padding-right: 10px;
  padding-top: 16px;
  padding-bottom: 5px;
  background-color: #f2f2f2;
}

.users-photos__info-wrapper {
  padding-left: 17px;
  padding-right: 31px;
  padding-top: 15px;
  padding-bottom: 5px;
  background-color: #f2f2f2;
  max-width: 232px;
  margin: 0 auto;
  box-shadow: inset 0 0 0 4px rgb(252, 5, 219);
}

.users-photos__author-name-wrapper {
  display: flex;
  align-content: center;
  align-items: center;
  padding-bottom: 0;
  margin-bottom: 0;
  box-shadow: inset 0 0 0 4px rgb(252, 5, 219);
}

.users-photos__list {
  list-style: none;
  padding-left: 0;
  //margin-left: 0;
}

.users-photos__item-image {
  display: block;
  margin: 0 auto;
  //box-shadow: inset 0 0 0 40px rgb(252, 5, 219);
}

.users-photos__item {
  margin-bottom: 20px;
  padding: 0 20px;
  box-shadow: inset 0 0 0 4px rgb(252, 5, 219);
}

.users-photos__panorama {
  //margin-left: 20px;
  //padding-left: 17px;
  padding: 0;
  position: relative;
  box-shadow: inset 0 0 0 4px rgb(34, 252, 5);
}

.users-photos__author-name {
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  color: $dark;
  padding-right: 2px;
}

.users-photos__post-time {
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  text-transform: uppercase;
  color: $dark;
  margin: 0;
}

.users-photos__text {
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  line-height: 1.71;
  color: $dark;
  margin: 0;
  //box-shadow: inset 0 0 0 4px rgb(34, 252, 5);
}

.users-photos__likes {
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
  color: $pink;
  padding-left: 20px;
}

// .users-photos__likes-image {
//   fill: $pink;
//   //box-shadow: inset 0 0 0 4px rgb(71, 10, 150);
// }

.users-photos__likes-wrapper {
  display: flex;
  align-items: center;
  //margin-top: auto;
  //margin-bottom: 30px;
  //box-shadow: inset 0 0 0 4px rgb(34, 252, 5);
}

.users-photos__panorama-sign {
  position: absolute;
  left: 160px;
  z-index: 2;
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  text-transform: uppercase;
  background-color: $pink;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 19px;
  padding-top: 7px;
  padding-bottom: 5px;
}

@media (min-width: $tablet-width) {
  .users-photos {
    margin-top: -305px;
  }

  .users-photos__intro {
    font-size: 18px;
    line-height: 1.67;
    padding-top: 92px;
    padding-bottom: 58px;
    padding-left: 65px;
    padding-right: 50px;
  }

  .users-photos__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 auto;
    width: 660px;
    //box-shadow: inset 0 0 0 40px rgb(252, 5, 219);
  }

  .users-photos__info-wrapper {
    width: 300px;
    padding-left: 27px;
    padding-right: 35px;
    padding-top: 20px;
    padding-bottom: 0;
    min-height: 140px;
    display: flex;
    flex-direction: column;
  }

  .users-photos__info-panorama-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-left: 28px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 25px;
  }

  .users-photos__likes-wrapper {
    display: flex;
    align-items: baseline;
    padding-bottom: 26px;
    margin-top: auto;
  }

  .users-photos__likes {
    margin-bottom: 0;
    order: -1;
    padding-left: 0;
  }

  .users-photos__likes-image {
    margin-left: auto;
  }


  .users-photos__likes-wrapper--panorama {
    order: -1;
    margin-left: auto;
    margin-right: 12px;
    display: flex;
    align-items: baseline;
    padding-bottom: 0;
  }

  .users-photos__likes--panorama {
    order: -1;
    padding-right: 17px;
    margin-bottom: 0;
  }

  .users-photos__author-name-wrapper--panorama {
    order: -1;
    padding-top: 8px;
  }

  .users-photos__item {
    //margin-bottom: 20px;

    padding: 30px 20px;
    padding-right: 0;
    padding-bottom: 0;

    padding-top: 14px;
    margin-bottom: 0;
    //padding-top: 0;
    //box-shadow: inset 0 0 0 5px rgb(252, 104, 5);
  }

  .users-photos__panorama {
    //margin-left: 20px;
    //padding-left: 17px;
    padding: 0;
    margin-bottom: 34px;
    box-shadow: inset 0 0 0 4px rgb(34, 252, 5);
  }

  .users-photos__item-image--panorama {
    height: 100%;
  }

  .users-photos__panorama-sign {
    left: 500px;
    top: 57px;
  }
}

@media (min-width: $desktop-width) {
  .users-photos {
    margin-top: -478px;
  }

  .users-photos__list {
    width: 980px;
    padding-top: 35px;
    padding-left: 16px;
    //box-shadow: inset 0 0 0 40px rgb(252, 5, 219);
  }

  .users-photos__item {
    padding-bottom: 33px;
  }

  .users-photos__panorama {
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 0;
    box-shadow: inset 0 0 0 4px rgb(34, 252, 5);
  }

  .users-photos__panorama-sign {
    left: 930px;
    top: 54px;
  }

  .users-photos__intro {
    padding-left: 310px;
    padding-right: 300px;
    padding-bottom: 70px;
  }

  .users-photos__item-image--panorama {
    min-width: 1200px;
    margin: 0;
    text-align: center;
  }

  .users-photos__info-panorama-wrapper {
    width: 900px;
    padding-left: 30px;
    padding-right: 20px;
    margin: 0 auto;
    box-shadow: inset 0 0 0 4px rgb(34, 252, 5);
  }
}
